<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acrochat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AcroChat"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.CreatePostActivity"></activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.PreloaderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AcroChatActivity" />
        <activity android:name=".activity.ChatActivity" />
        <activity android:name=".activity.UsersActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.StartActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.SignupActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>